body{
    background: #17BEBB;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

input {
    width: 250px;
    height: 25px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.btn{
    width: 70px;
    height: 35px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    background: #17BEBB;
    margin: 20px;
    color: #fff;
    letter-spacing: 1.5px;
}

table, th {
    margin: 20px 0 50px 60px;
    text-align: left;
    font-size: 15px;
}

td {
    margin: 20px 0 0 20px;
}

.delete-btn {
    width: 60px;
    height: 25px;
    background: #FF674D;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin: 10px 40px 10px 0;
    font-size: 12px;
    align-content: right;
}

.add-btn{
    background: lightblue;
    width: 40px;
    height: 40px;
    letter-spacing: 2px;
}
.app-title{
    text-align: center;
    color: #4E4C4D;
    letter-spacing: 1px;
    font-size: 30px;
}
.container{
    width: 50%;
    height: auto;
    margin: 60px 0 0 50px;
    background: #F1FAF4;
    border-radius: 10px;
    box-shadow: -5px 4px 25px -13px #000;
    display: inline-block;
}

.text {
    margin-top: 40px;
}

@media (max-width: 500px) {
    .container {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 80px;
        background: #F1FAF4;
        border-radius: 10px;
        box-shadow: -5px 4px 25px -13px #000;
        display: inline-block;
    }

    .app-title{
        text-align: center;
        color: #4E4C4D;
        letter-spacing: 1px;
        font-size: 20px;
    }

    input {
        width: 80%;
        height: 20px;
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        border: none;
        font-size: 13px;
    }

    .btn{
        width: 85%;
        height: 30px;
        font-size: 12px;
        border-radius: 8px;
        border: none;
        background: #17BEBB;
        margin-top: 20px;
        color: #fff;
        letter-spacing: 1.5px;
    }
    table, th {
        margin: 20px 0 50px 20px;
        text-align: left;
        font-size: 12px;
    }

    td {
        margin: 40px;
        font-size: 13px;
        text-align: left;
    }

    .delete-btn {
        width: 50px;
        height: 20px;
        background: #FF674D;
        color: #fff;
        border-radius: 8px;
        border: none;
        margin: 10px;
        font-size: 12px;
        align-content: right;
    }

}